.accountmanager {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 30px;
    width: 800px;
}

.center-accountmanager {
    text-align: center;
    width: 100%;
}

.center button {
    margin-left: 5px;
}

.center i {
    color: white;
}

.search-part button {
    color: white;
    background-color: rgba(29, 199, 255, 0.901);
    width: 15%;
    height: 30px;
    border: solid rgba(29, 199, 255, 0.901) 1px;
}

.search-part input {
    width: 85%;
    height: 30px;
    border: solid black 1px;
}

.search-part {
    display: flex;
    margin-left: -50px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.account-list {
    background-color: rgba(224, 240, 255, 0.901);
}

table {
    border-collapse: collapse;
}

table td {
    border: 1px solid #000;
    /* You can adjust the color and width as needed. */
    border-top: none;
}