.section-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.qfilter {
  width: 100%;
  height: fit-content;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  float: left;
}

.form {
  display: flex;
  flex-direction: row;
}

.search-field {
  width: 100%;
  height: 30px;
  padding: 10px 35px 10px 15px;
  border: 0.1px solid black;
  border-radius: 100px;
  outline: none;
}

/* 
.searchicon {
  background: transparent;
  width: 17px;
  height: 17px;
  object-fit: cover;
  outline: none;
  
} */

.filterform {
  margin: 12px;
  width: 75%;
  height: fit-content;
  float: left;
  gap: 12px;
  flex-wrap: wrap;
  display: flex;
}

.filter {
  border: 0.1px solid black;
  border-radius: 6px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  font-family: Tahoma;
}

.searcher {}

.qshow {
  width: 100%;
  height: fit-content;

  display: flex;


  gap: 7px;
}

.section-rightside {
  width: 70%;
  height: fit-content;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.section-leftside {
  width: 30%;
  height: fit-content;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.section-list {
  width: 100%;
  height: 555px;
  background-color: rgb(196, 233, 249);
  overflow-y: scroll;
  padding-left: 5px;
  margin-top: 2px;
}

.sectionitem {
  width: 98%;
  height: 30px;
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  padding-left: 20px;
}

.qlistdetail {
  width: 75%;
  height: 100%;
  background-color: rgb(196, 233, 249);
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.qlistitem {
  width: 100%;
  height: 550px;
  border-radius: 15px;
  margin: 3px;

  background-color: aliceblue;
  overflow-y: scroll;
}

.addSection {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 3900;
}

.question-tool {
  width: 99%;
  height: 32px;
  background-color: rgb(232, 235, 239);
  border-radius: 20px;
  margin-left: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.section-tool {
  width: 99%;
  height: 32px;
  background-color: rgb(232, 235, 239);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.tool-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-item:hover {
  background-color: aliceblue;
}

.selectedq {
  font-size: 14px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qcontainer {
  width: 100%;
  height: fit-content;
  border-radius: 15px;
}

.selected {
  background-color: aqua;
}

.modal-header {
  display: flex;
  align-items: flex-start;
}

.header-icon {
  font-size: 20px;
  margin-right: 5px;
  margin-top: 17px;
}

.modal-subtitle {
  position: absolute;
  margin-top: -5px;
  font-size: 10px;
}

.row-head {
  margin-left: -0.35px;
  display: flex;
  justify-content: space-between;
}

button i {
  border-color: rgba(29, 199, 255, 0.901);
  border-radius: 10%;
  margin-left: 2px;
  background-color: rgba(29, 199, 255, 0.901);
  color: white;
}

.text-over-border {
  position: absolute;
  margin-top: -6px;
  background-color: white;
  font-size: 8px;
  left: 300px;
  padding: 0 5px;
  height: auto;
}

table {
  width: 100%;
  word-wrap: break-word;
  border: 1px solid black;
}

.addquestion-table {
  border-collapse: collapse;
  /* This ensures that borders are collapsed into a single border. */
}

.addquestion-table td {
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  /* You can adjust the color and width as needed. */
  border-bottom: none;
  border-width: 1px;
}

td.row-head {
  border-top: none;
  border-right: none;
}

.edit-question {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.edit-answers {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.edit-answers th,
.edit-answers td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.edit-answers th {
  background-color: #f2f2f2;
}

.edit-answers input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.addquestion-table button {
  width: auto;
  height: auto;
  min-width: 90px;
  min-height: 20px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  font-size: 11px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-left {
  display: flex;
  justify-content: space-between;
}

.header-icon {
  margin-right: 10px;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #333;
}

.addquestion-savebutton button {
  border-radius: 10px;
  height: auto;
  min-width: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.addquestion-savebutton {
  display: flex;
  justify-content: right;
}

.edit-answers tbody .delete-answer {
  display: flex;
  justify-content: space-between;
}

.edit-answers tbody div .deleteanswer-icon {
  display: block;
}

/* Modal */
.modal {
  display: none;
  /* Mặc định ẩn modal */
  position: fixed;
  /* Cố định vị trí của modal trên trình duyệt */
  z-index: 1;
  /* Đảm bảo modal hiển thị trên các phần còn lại của trang */
  left: 0;
  top: 0;
  width: 100%;
  /* Chiều rộng của modal bằng với toàn bộ trình duyệt */
  height: 100%;
  /* Chiều cao của modal bằng với toàn bộ trình duyệt */
  overflow: auto;
  /* Cho phép cuộn trang khi modal quá lớn */
  background-color: rgba(0, 0, 0, 0.4);
  /* Một lớp mờ khi modal hiển thị */
}

/* Nội dung của modal */
.modal-content {
  background-color: #fefefe;
  /* Màu nền của nội dung modal */
  margin: 15% auto;
  /* Canh giữa nội dung modal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Chiều rộng của nội dung modal */
}

/* Nút đóng modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.editanswer-each {
  display: flex;
  justify-content: space-between;
}

.myeditor-ck {
  width: 90%;
}

.ckeditor-result {
  display: flex;
  justify-content: flex-start;
}