.menu-dropdown {
    width: 130px;
    height: 70px;
    border: 1px solid black;
    right: 0;
    margin-top: -10px;
    margin-right: 45px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 215, 215);
    position: absolute;
    z-index: 9;
}

.menu-dropdown.active {
    display: flex;
}

.menu-item {
    padding: 8px 16px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.item-edit,
.item-delete {
    display: flex;
    width: 90%;
    height: 34%;
    align-items: center;
    font-size: 0.8rem;
}